* {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
}

#projectLink {
    color: white;
    background-color: purple;
}

#projectLink:hover {
    background-color: rgb(92, 6, 92);
}

.navbar-brand {
    color: darkseagreen;
    font-size: 2rem;
    padding: 10px 25px;
}

.nav-link {
    color: darkseagreen;
    border-bottom: 2px black;

}

.nav-link:hover {
    font-size: 1rem;
    color: darkslategray;
    border-bottom: 3px solid darkslategrey;
}

main {
    background-image: url("DSC_4383.JPG");
    background-size: 100%;
    height: 280px;
}

.btn {
    background-color: darkseagreen !important;
    color: white !important;

}

/* #project-img {
    opacity: 0.5;
} */

/* #project-img:hover {
    opacity: 1;
} */


.text-block2 {
    /* position: absolute;
    right: 700px; */
    background-color: darkcyan;
    color: white;
    padding: 25px;
}

.text-block {
    position: absolute;
    right: 60px;
    background-color: darkcyan;
    color: white;
    padding: 25px;
    margin-top: 150px;
}

img {
    height: 400px;
}

.col {
    margin: 40px;
}

h1 {
    color: darkseagreen;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 5px solid darkseagreen;
    margin: 20px;
}

a {
    text-decoration: none;
}


/* .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
} */

/* .column1 {
    flex: 30%;
    padding: 60px;
    text-align: end;
    border-right: 5px solid darkcyan;
    margin: 30px;
    color: darkcyan;
}

.column2 {
    flex: 60%;
    padding-right: 120px;
} */

/* 

header {
    background-color: #292D3D;
    color: white;
}

header h1 {
    display: flex;
    background-color: darkcyan;
    padding: 10px 70px 10px;
}


.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background-color: #292D3D;
}

a {
    text-decoration: none;

}

.navigation a:hover {
    background: darkcyan;
}






.contact {
    display: inline-flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.contact li {
    border-bottom: 3px solid darkcyan;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    color: darkcyan;
}


@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
} */